[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
about-time = "*"
celery = "*"
click = ">=7.0"
grpcio = "*"
protobuf = "*"
pytz = "*"
six = "==1.11.0"
Pygments = "*"
"clearly" = {editable = true, path = "."}
futures = {version = "*", markers = "python_version < '3.0'"}

[dev-packages]
mock = "*"
pytest = "*"
pathlib2 = {version = "*", markers = "python_version < '3.0'"}
funcsigs = {version ="*", markers = "python_version < '3.0'"}
scandir = {version ="*", markers = "python_version < '3.0'"}
pytest-cache = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-watch = "*"
pytest-xdist = "*"

[requires]
python_version = "3.7"
